html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.boton-acciones {
  background-color: transparent;
  border: none;
  border-radius: 0%;
  height: 400px;
}

.contenido {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  border-radius: 0%;
  height: 400px;
  background-color: #faa1d8;
}

p {
  font-size: 150%;
  text-transform: uppercase;
  font-weight: bold;
}

.col-12 {

  display: flex;
  justify-content: center;
  align-items: center;

}

.ventilador {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}